body {
	font-family:Arial, Helvetica, sans-serif;
	color:#474848;
}
a {
	color: #179fab;
}
a:hover {
	text-decoration:underline;
}
h1 {
	border-bottom:3px solid #169fab;
	margin-bottom:50px;
}
#wrapper {
	padding-left: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
#wrapper.toggled {
	padding-left: 251px;
}
#sidebar-wrapper {
	background-color: #f8f8f8;
	border-right: 1px solid #e7e7e7;
	z-index: 1000;
	position: fixed;
	left: 251px;
	width: 0;
	height: 100%;
	margin-left: -250px;
	overflow-y: auto;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
#wrapper.toggled #sidebar-wrapper {
	width: 250px;
}
#page-content-wrapper {
	width: 100%;
	position: absolute;
	padding: 15px;
}
#wrapper.toggled #page-content-wrapper {
	position: absolute;
	margin-right: -250px;
}
/* Sidebar Styles */

.sidebar-nav {
	position: absolute;
	top: 0;
	width: 250px;
	margin: 0;
	padding: 0;
	list-style: none;
}
.sidebar-nav li {
	text-indent: 20px;
	line-height: 40px;
	border-bottom: 1px solid #e7e7e7;
}
.sidebar-nav > .sidebar-brand img {
	max-width: 250px;
	padding:20px;
}
.sidebar-nav li a {
	display: block;
	text-decoration: none;
	color: #179fab;
	font-weight:bold;
	font-size:15px;
}
.sidebar-nav li a:hover {
	text-decoration: none;
	color: #179fab;
	background:#eeeeee;
}
.sidebar-nav li a:active, .sidebar-nav li a:focus {
	text-decoration: none;
}
.nav-second-level li {
	border-bottom: 0 none;
}
.nav-second-level li a {
	padding:0;
	font-weight:normal;
}
.sidebar-nav .glyphicon {
	display: inline;
	color:#444;
	margin-right: 5px;
}
footer {
	border-top:3px solid #169fab;
	margin-top:50px;
	padding-top:10px;
}

/* bottoni */
.btn-primary {
	background:#169fab;
	border-color: #169fab;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
	background-color: #2ebcc8;
	border-color: #2ebcc8;
}
.btn-info {
	background:#333;
	border-color: #333;
}
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active {
	background-color: #555;
	border-color: #555;
}
.panel-default {
	background-color: #f8f8f8;
	border: 1px solid #e7e7e7;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow:none;
}
td > .btn-group {
	width:200px;
}
.panel-body {
	padding-bottom: 5px;
}
@media(max-width:991px) {
.panel-body {
 padding-bottom: 15px;
}
}
 @media(min-width:768px) {
 #wrapper {
 padding-left: 250px;
}
 #wrapper.toggled {
 padding-left: 0;
}
 #sidebar-wrapper {
 width: 251px;
}
 #wrapper.toggled #sidebar-wrapper {
 width: 0;
}
 #page-content-wrapper {
 padding: 20px;
 position: relative;
}
 #wrapper.toggled #page-content-wrapper {
 position: relative;
 margin-right: 0;
}
}
